#bar .sv {
background-position: 5px -936px;

}
#language {
background: #2f2f2f url('../images/flags.png') no-repeat;
font-size: 11px;
color: #ccc;
border: 0;

width: 75px;

-webkit-appearance: none;
}
#bar .language {
background: #2f2f2f url('../images/drop.png') no-repeat 86px 9px;
margin: -2px 10px 0 0;
color: #ccc;
border-radius: 4px;
border: 1px solid #888;
float: right;
overflow: hidden;
margin-left: 5px;
width: 65px;

}
select {

font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial;
border-radius: 4px;
}
select {
box-sizing: border-box;
align-items: center;
white-space: pre;
-webkit-rtl-ordering: logical;
color: black;
cursor: default;
}
div {
display: block;
padding-top: 7px;
}
#bar {
font-size: 11px;
}
body {
font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial;
line-height: 12px;
}
select {
margin: 0em;
font: -webkit-small-control;
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
text-align: start;
}
select{
-webkit-writing-mode: horizontal-tb;
}