/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 3, 2014, 2:32:18 PM
    Author     : Hikari
*/

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial;
    font-size: 13px;
}

#years 
{
    width: 30px;
}

#areas
{
    width: 200px;
}

div{
    display: block;
}

label
{    
    font-weight: bold;
    color: GREY;
}
label.text
{
    font-weight: bold;
    color: #000000;
}

iframe{
    border-style: none;
}
#wrap{
    width: 1000px;
    margin: 0 auto -255px auto;
    min-height: 100%;
    height: auto!important;
}

#bar{
    height: 42px;
    background: #333333;
    color: #EFEFEF
}

#bar a {
    color: #EFEFEF;
}
#content{
    width: 1000px;
}
#bar .tag{
    float: left;
}
#bar .nav
{
    float: right;
    text-align: right;
    font-size: 11px;
}

#bar ul{
    padding: 0;
    list-style-type: none;
    margin-right: 10px;
}
#bar li {
    background: url('ico.png') no-repeat;
    padding-left: 25px;
}  

#main{
    margin: 35px 0 0 0;
}

#options{
    width: 25%;
    float: left;
}
#options li{
    width: 100%;
    border-color: #d7d7d7; 
    border-width: 0 0 1px 1px;
    border-style: solid;
}
#options li button{
    background: url('bg_button.png') no-repeat;
    padding: 6px 0 6px 8px;
    width: 100%;
    font-weight: bold;
    font-size: 12px;
}

.error {
    
    color : RED;
}

#opt{
    background: url('bg_button.png') no-repeat;
    width: 100px;
    height: 25px;
    font-weight: bold;
    font-size: 12px;
}


#options ul{
    padding: 0;
    list-style-type: none;
    margin: 0;
}

#applicationForm{
    padding: 5px 5px 10px 8px;
    width: 73%;
    float: left;
    border: 1px solid #d7d7d7;
}
